/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
}
.Hello {
  /* padding-left: 500px; */
  background-color: white;
  /* padding-top: 250px; */
}
.HelloCenter {
  text-align: center;
}
.FirstButton {
  width: 100px;
  margin-top: 50px;
}
.InnerDetails {
  /* display: inline-block; */
  /* background-color: pink; */
  /* margin-top: 180px; */
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* height: 400px; */
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
